.main {
    margin-top: 50px;
    text-align: center;
    height: 300px;
    width: 800px;
    background-color: aliceblue;
    display: flex;
    align-items: baseline;

}

.Tabs {
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: none;
    margin: 0 15px;
    background-color: aliceblue;
}
.Tabs:hover{
    color: #0438ba;
}
.Tabs:active{
    color: #8f9494;
}


.cont {
    border: 3px solid transparent;
    border-bottom: ridge #a0d9d9;
}
.br{
    border: 3px solid transparent;
    border-bottom: ridge #a0d9d9;
}
